<p-toast></p-toast>
<div style="border-top: 2cm;">
<p-table [value]="players" dataKey="id" editMode="row" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Team</th>
          <th><p-button (onClick)="showCreatePlayer()" label="+" /></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-player let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="player">
      <td>
        {{ player.id }}
      </td>
      <td>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input 
                      pInputText type="text" 
                      [(ngModel)]="player.name" 
                      required />
              </ng-template>
              <ng-template pTemplate="output">
                  {{player.name}}
              </ng-template>
          </p-cellEditor>
      </td>
      <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input 
                  pInputText type="text" 
                  [(ngModel)]="player.age" 
                  required />
          </ng-template>
          <ng-template pTemplate="output">
              {{player.age}}
          </ng-template>
          </p-cellEditor>
      </td>
      <td>
        {{ player.teamName }}
      </td>
      <td>
  <div class="flex align-items-center justify-content-center gap-2">
      <button 
          *ngIf="!editing" 
          pButton 
          pRipple 
          type="button" 
          pInitEditableRow 
          icon="pi pi-pencil" 
          (click)="onRowEditInit(player)" 
          class="p-button-rounded p-button-text">
      </button>
      <button 
          *ngIf="editing" 
          pButton 
          pRipple 
          type="button" 
          pSaveEditableRow 
          icon="pi pi-check" 
          (click)="onRowEditSave(player)" 
          class="p-button-rounded p-button-text p-button-success mr-2">
      </button>
      <button 
          *ngIf="editing" 
          pButton pRipple 
          type="button" 
          pCancelEditableRow 
          icon="pi pi-times" 
          (click)="onRowEditCancel(player, ri)" 
          class="p-button-rounded p-button-text p-button-danger">
      </button>
  </div>
      </td>
  </tr>
  </ng-template>
</p-table>


<p-dialog header="Create Player" [modal]="true" [(visible)]="showCreatePlayerDialog" [style]="{ width: '35rem' }">
    <table>            
        <tr>
            <td>
                <label for="name" class="font-semibold w-6rem">Name</label>
            </td>
            <td>
                <input pInputText id="name" class="flex-auto" autocomplete="off" [(ngModel)]="newPlayer.name" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="age" class="font-semibold w-6rem">Age</label>
            </td>
            <td>
                <input pInputText id="age" class="flex-auto" autocomplete="off" [(ngModel)]="newPlayer.age"/>
            </td>
        </tr>
        <tr>
            <td>
                <p-button label="Cancel" severity="secondary" (onClick)="showCreatePlayerDialog = false" />
            </td>
            <td>
                <p-button label="Save" (onClick)="createPlayer(newPlayer)" />
            </td>
        </tr>
    </table>    
</p-dialog>
</div>